@import url(https://fonts.googleapis.com/css?family=Nunito);@-webkit-keyframes pulse {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
}

/* Main */

html {
  width: 100%;
  height: 100%;
  background: #000000;
}

body {
  min-height: 100vh;
  margin: 0;
  color: #d8d8d8;
  font-size: 17px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  /* Light Template */
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: 300;
}

body input,
body select,
body option {
  background: #272727;
  color: #d8d8d8;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

body header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #1a1a1a;
  z-index: 9999;
}

body #logo {
  display: flex;
  flex: 0 1 30px;
  padding: 10px 15px;
  align-items: center;
  justify-content: center;
}

body #search {
  display: flex;
  flex: 1 1 738px;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
}

body #user {
  display: flex;
  flex: 0 1 30px;
  padding: 10px 15px;
  align-items: center;
  justify-content: center;
}

body #main {
  min-height: calc(100% - 180px);
  background: #000000;
  margin-top: 50px;
  padding: 0 0 10px 0;
  text-align: center;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

body .loading-spinner {
  position: fixed;
  top: calc(50% - 30px);
  z-index: 999999;
  -webkit-animation: pulse 750ms infinite;
          animation: pulse 750ms infinite;
}

body .card-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

body .card {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background: #1a1a1a;
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  flex: 0 1 718px;
  height: 150px;
}

body .card.card-small {
  flex: 0 1 354px;
}

body .card.link {
  cursor: pointer;
}

body .card.top {
  justify-content: flex-start;
}

body .card.middle {
  justify-content: center;
}

body .card.bottom {
  justify-content: flex-end;
}

body .card.left {
  align-items: flex-start;
}

body .card.center {
  align-items: center;
}

body .card.right {
  align-items: flex-end;
}

body .card-name {
  color: #fff;
  font-size: 1.5em;
  text-shadow: -1px -1px 3px #000000, -1px 1px 3px #000000, 1px -1px 3px #000000, 1px 1px 3px #000000, -1px -1px 5px #000000, -1px 1px 5px #000000, 1px -1px 5px #000000, 1px 1px 5px #000000;
}

body .card-tag {
  height: 100%;
  color: #fff;
  font-size: 1em;
  text-shadow: -1px -1px 3px #000000, -1px 1px 3px #000000, 1px -1px 3px #000000, 1px 1px 3px #000000, -1px -1px 5px #000000, -1px 1px 5px #000000, 1px -1px 5px #000000, 1px 1px 5px #000000;
  margin-top: 5px;
  overflow: hidden;
}

body #different-location-header {
  margin: 20px 0 10px 0;
  font-size: 20px;
  display: none;
}

body #different-location-form {
  margin-bottom: 20px;
  display: none;
}

body .form {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 738px;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

body input[type=text],
body input[type=email],
body input[type=password],
body select {
  width: 100%;
  max-width: 738px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 0 20px;
}

body select {
  padding: 9px;
}

body .search-container {
  position: relative;
  width: 100%;
  display: flex;
}

body .search-container input[type=text],
body .search-container input[type=email],
body .search-container input[type=password],
body .search-container select {
  max-width: 698px;
}

body .search-container .search-spinner {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 25px;
  z-index: 99;
  -webkit-animation: pulse 750ms infinite;
          animation: pulse 750ms infinite;
}

body .input-suggest {
  position: absolute;
  top: 40px;
  left: 20px;
  width: calc(100% - 40px);
  text-align: left;
  border: none;
  border-radius: 5px;
  flex: 1 1 100%;
  background: #1a1a1a;
  z-index: 1000;
}

body .input-suggest:hover {
  cursor: pointer;
}

body .button {
  width: 150px;
  height: 30px;
  padding: 8px;
  margin: 0 auto 30px;
  border: 2px #a1a1a1 solid;
  border-radius: 5px;
  line-height: 30px;
  position: relative;
  color: #a1a1a1;
  text-align: center;
  text-decoration: none;
}

body .button:hover {
  cursor: pointer;
}

body .button.button-blue {
  background: linear-gradient(to bottom, #0000c8 0%, #3700ff 100%);
  border: none;
  padding: 10px;
  color: #fff;
}

body .button.button-small {
  width: 125px;
  height: 20px;
  padding: 3px;
  margin: 0 auto;
  font-size: 0.8em;
  line-height: 20px;
}

body .button.button-small.button-blue {
  padding: 5px;
}

body nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: #1a1a1a;
  text-align: center;
  z-index: 9999;
}

body .nav-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  max-width: 716px;
  background: #1a1a1a;
  text-align: center;
}

body .nav-item {
  flex: 0 1 30px;
  padding: 10px 0;
}

body footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 80px;
  padding: 5px 15px;
  text-align: center;
  background: #1a1a1a;
}

body #footer {
  flex: 1 1 100%;
}

@media screen and (max-width: 600px) {
  body .on-small-center-items {
    align-items: center !important;
    justify-content: center !important;
  }

  body .on-small-center-text {
    text-align: center !important;
  }
}

body.light {
  color: #1a1a1a;
}

body.light h1,
body.light h2,
body.light h3,
body.light h4,
body.light h5,
body.light h6 {
  font-weight: 400;
}

body.light input,
body.light select,
body.light option {
  color: #1a1a1a;
  background-color: #d8d8d8;
}

body.light header {
  background-color: #e5e5e5;
}

body.light #main {
  background: #ffffff;
}

body.light .card {
  background-color: #e5e5e5;
}

body.light .card-name {
  color: #000;
  text-shadow: -1px -1px 3px #ffffff, -1px 1px 3px #ffffff, 1px -1px 3px #ffffff, 1px 1px 3px #ffffff, -1px -1px 5px #ffffff, -1px 1px 5px #ffffff, 1px -1px 5px #ffffff, 1px 1px 5px #ffffff;
  font-weight: 600;
}

body.light .card-tag {
  color: #000;
  text-shadow: -1px -1px 3px #ffffff, -1px 1px 3px #ffffff, 1px -1px 3px #ffffff, 1px 1px 3px #ffffff, -1px -1px 5px #ffffff, -1px 1px 5px #ffffff, 1px -1px 5px #ffffff, 1px 1px 5px #ffffff;
  font-weight: 600;
}

body.light .input-suggest {
  background-color: #e5e5e5;
}

body.light .button {
  border: 2px #1a1a1a solid;
  color: #1a1a1a;
}

body.light nav {
  background-color: #e5e5e5;
}

body.light .nav-container {
  background-color: #e5e5e5;
}

body.light footer {
  background-color: #e5e5e5;
}

